<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ml-5 firstmoney" href="/">
        <span class="text-info">Enaland NIG </span><span class="text-warning">Limited</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav m-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    Home
                </a>
            </li>

            <% if (req.user.isAdmin) { %>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/project">
                    Projects
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/admin">
                    Admin <span class="sr-only">(current)</span>
                    <i class="fas fa-user-shield pl-2"></i>
                </a>
            </li>
            <li class="nav-item">
                <% } %>
                <form action="/auth/logout" method="post">
                    <button type="submit" class="btn nav-item btn-info text-white">
                        Logout
                        <i class="fas fa-sign-out-alt pl-2"></i>
                    </button>
                </form>
            </li>
        </ul>
    </div>
</nav>



<div class="mt-2">
    <% include ./partials/messages %>
</div>

<div class="admin">
    <h1 class="text-center">Admin</h1>

    <hr>

    <div class="all p-5">

        <div class="users-list">
            <h3 class="">
                <i class="fas fa-user"></i>
                Users
            </h3>
            <div class="addUser">
                <a href="/auth/register" class="btn btn-info my-4">
                    <i class="fas fa-plus"></i>
                    Add User
                </a>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Attendant ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Username</th>
                            <th scope="col">Active</th>
                            <th scope="col">Admin</th>
                            <th scope="col">Cash</th>
                            <th scope="col">Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.attendantID %></td>
                            <td><%= user.firstname %></td>
                            <td><%= user.lastname %></td>
                            <td><%= user.username %></td>
                            <td><%= user.isActive %></td>
                            <td><%= user.isAdmin %></td>
                            <td><%= user.cash %></td>
                            <td><a href="/users/<%= user.id %>" class="btn btn-info">View</a>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>

        <hr>
        <div class="settings">
            <h3>
                <i class="fas fa-cogs pl-2"></i>
                Settings
            </h3>

            <form class="container mt-5" action="/users/<%= req.user.id %>" method="POST">
                <h4>Admin Advanced Settings</h4>
                <hr>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control-plaintext" id="staticEmail"
                            value="<%= req.user.username %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" name="password"
                            placeholder="Password">
                    </div>
                </div>
                <button class="btn btn-info">Update</button>
            </form>
        </div>
    </div>
    <div>
        <%- include('footer') %>
    </div>